@charset "UTF-8";
@import url(https://fonts.google.com/specimen/Work+Sans?preview.size=51&query=work);


* {
    height: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: white;
    background-attachment: fixed;
    background-size: 377.95px; /*Tamanho normal de um fonte é 16px = 1em | 32 = 2em */
}

main {
    background-color: #ffff00;
    width: 1000px; /*Tamanho do fundo*/
    padding: 22px; /*Preenchimento*/
    margin: auto; /*Centralizar a margem*/
    border-radius: 80px; /*Borda*/
    box-shadow: 20px 20px 20px #ffff007c;
}

p {
    text-align: justify;
    font-size: 30.68px;
}

h1 {
    font-size: 113.39px;
    color: #6e6eff;
    text-shadow: 2px 2px 2px #6e6eff;
    text-align: center;
}

h2 {
    font-size: 40.02px;
    color: #6e6eff;
    text-align: center;
}

mark {
    background-color: #ffff6a;
    color: #6e6eff;
    box-shadow: 10px 10px 10px #6e6eff ;
    border-radius: 50px;
}
/*
p {
    shorthand font

    font-style: italic;
    font-weight: normal;
    font-size: 30.68px;
    font-family: Arial, Helvetica, sans-serif;
    
    =

    font: italic normal 30.68px Arial, Helvetica, sans-serif;

    font: "font-style" "font-weight" "font-size" "font-family"
}





*/